<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Language" content="pl" />
        <meta name="Author" content="Krzysiek" />
        <meta name="Description" content="opis" />
        <meta name="Keywords" content="wyraz1, wyraz2,..." />
        <link href="{{ STATIC_URL }}style/style.css" rel="stylesheet" type="text/css" />
    </head> 
    <body>
<div id="sidebar1" class="sidebar">{% block sidebar %}{% endblock sidebar %}</div>
{% block content %}
aaa
{% endblock content %}
    </body>

</html>
